{% extends 'pages/layout.html' %}
{% block ciało %}

<body>



<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>


<img alt="meble " src="http://www.wcsprint.pl/static/jpg/gallery/meble_.jpg" style="height:900px; width:1200px;">


<hr>
<hr>
<hr>

<img alt="meble 2" src="http://www.wcsprint.pl/static/jpg/gallery/meble_2.jpg">

<hr>
<hr>
<hr>


<img alt="zawor" src="http://www.wcsprint.pl/static/jpg/kabina_.jpg">




<hr>
<hr>
<hr>

<img alt="kabina prysznicowa" src="http://www.wcsprint.pl/static/jpg/gallery/kabina_2.jpg">


<hr>
<hr>
<hr>


<img alt="prysznic" src="http://www.wcsprint.pl/static/jpg/shower_info.jpg">


<hr>
<hr>
<hr>

<img alt="meble 3" src="http://www.wcsprint.pl/static/jpg/gallery/meble_3.jpg">

<hr>
<hr>
<hr>

<img alt="wc kompakt" src="http://www.wcsprint.pl/static/jpg/gallery/wc_kompakt.jpg">



<hr>
<hr>
<hr>


<img alt="zawor" src="http://www.wcsprint.pl/static/jpg/zawor.jpg">



</body>
</html>


<style>
    body {
        background-image: url(http://www.wcsprint.pl/static/jpg/la.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
{% endblock %}

