{% extends 'pages/layout_mobile.html' %}


{% block cia≈Ço %}


<!--<div class="about_me_mobile">-->
<!--    -->
      <section>
    <h2>WC SPRINT</h2>
    <p> NAZYWAM SIƒò PRZEMYS≈ÅAW SKOCZYLAS,<br>
    OD PIƒòTNASTU LAT PRACUJƒò W BRAN≈ªY SANITARNEJ.<br>
	PROWADZ  US£UGI W ZAKRESIE:<br>
      WYMIANY, NAPRAWY ORAZ MONTAØU:<br>

    -STELAØY PODTYNKOWYCH, TOALET NATYNKOWYCH.<br>
    -KABIN PRYSZNICOWYCH, BRODZIK”W I WANIEN,<br>
    -MEBLI £AZIENKOWYCH.<br><br>

    JESTEM AUTORYZOWANYM SERWISANTEM MAREK:<br>
    -ROCA,<br>
    -INVENA,<br>
    -OMNIRES,<br>
    -PULLSPA.<br>
    PROWADZƒò SERWIS POGWARANCYJNY DLA FIRM:<br>
    -GEBERIT,<br>
    -CERSANIT,<br>
    -KO≈ÅO.<br>
    W RAZIE JAKICHKOLWIEK PYTA≈É PROSZƒò O KONTAKT -
    <a href="{% url 'pages:contact' %}"> TUTAJ</a>


    </p>
  </section>

<style>

</style>


{% endblock %}
