{% extends 'pages/layout_mobile.html' %}


{% block ciało %}


<!--<div class="about_me_mobile">-->
<!--    -->
      <section>
    <h2>WC SPRINT</h2>
    <p> NAZYWAM SIĘ PRZEMYSŁAW SKOCZYLAS,<br>
    OD PIĘTNASTU LAT PRACUJĘ W BRANŻY SANITARNEJ.<br>
    JESTEM AUTORYZOWANYM SERWISANTEM MAREK:<br>
    -ROCCA,<br>
    -INVENA,<br>
    -OMNIRES,<br>
    -PULLSPA.<br>
    PROWADZĘ SERWIS POGWARANCYJNY DLA FIRM:<br>
    -GEBERIT,<br>
    -CERSANIT,<br>
    -KOŁO.<br>
    W RAZIE JAKICHKOLWIEK PYTAŃ PROSZĘ O KONTAKT -
    <a href="{% url 'pages:contact' %}"> TUTAJ</a>


    </p>
  </section>

<style>

</style>


{% endblock %}
