{% extends 'pages/layout.html' %}
{% block ciało %}

<body>
<div class="shower_info">
    MONTAŻ ORAZ WYMIANA: <br>
    <br>	
    -KABIN PRYSZNICOWYCH, <br>
    -KABIN WALK-IN, <br>
    -WANIEN,<br>
    -BRODZIKÓW WRAZ Z ZABUDOWĄ, <br>
    -SYFONÓW WANNOWYCH, BRODZIKOWYCH.



</div>


</body>
</html>


<style>
    body {
        background-image: url(http://www.wcsprint.pl/static/jpg/shower_info.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

{% endblock %}
