{% extends 'pages/layout.html' %}
{% block ciało %}

    <body>

    <div class="furniture_info">

        MOŻLIWOŚĆ MONTAŻU:<br>
        -MEBLI ŁAZIENKOWYCH,<br>
        -UMYWALEK NABLATOWYCH,<br>
        -UMYWALEK WPUSZCZANYCH W BLAT,<br>
        -UMYWALEK ŚCIENNYCH,<br>
        -BATERII ŁAZIENKOWYCH.
    </div>

    </body>
</html>


<style>
   body {
        background-image: url(http://www.wcsprint.pl/static/jpg/furniture_info.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

{% endblock %}
