{% extends 'pages/layout.html' %}
{% block ciało %}

    <body>
    <div class="toilets_info">
        PROWADZĘ KOMPLEKSOWE USŁUGI W ZAKRESIE TOALET.<br>
        MONTAŻ STELAŻY PODTYNKOWYCH ORAZ TOALET WOLNOSTOJĄCYCH.<br>
        MOŻLIWOŚĆ DEMONTAŻU STARYCH TOALET I WYMIANY NA NOWE.<br>
	PONADTO :<br>
        -NAPRAWA I WYMIANA ZAWORÓW, <br>
        -WYMIANA DESEK TOALETOWYCH (BOGATA OFERTA),<br>
        -PRZYCISKI DO STELAŻY PODTYNKOWYCH,<br>
	-ZAWORY DO WC PODTYNKOWYCH I  NATYNKOWYCH.







    </div>

    </body>
</html>


<style>
        body {
            background-image: url(http://www.wcsprint.pl/static/jpg/toilets_info.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
</style>

{% endblock %}
